<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <%-include("Navbar") %>
    <div class="flex flex-col p-16 justify-center items-center h-[85vh] bg-slate-950">
        <h1 class="text-3xl font-semibold text-center">Looking for fresh ideas or a quick, inspiring read? <br /> Our blog is filled with content to entertain and inform.</h1>
        <a href="/blog" class="btn btn-primary text-white text-xl mt-8">Start Reading</a>
    </div>
    <%-include("Footer") %>
</body>
</html>