<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <% if(login) {%>
                <li><a href="/createBlog" class='font-semibold text-lg'>Create a post</a></li>
                <li><a href="/logout" class='font-semibold text-lg'>Logout</a></li>
            <% } else {%>
                <li><a href="/login" class='font-semibold text-lg'>SIGN IN</a></li>
                <li><a href="/register" class='font-semibold text-lg'>REGISTER</a></li>
            <% } %>
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl font-bold">BLOG</a>
    </div>
    <% if(login) {%>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1 gap-x-2">
                <li><a href="/createBlog" class='font-bold text-lg btn btn-primary text-white'>Create a post</a></li>
                <li><a href="/logout" class='font-bold text-lg btn btn-primary text-white bg-red-500 hover:bg-red-600 border-none'>Logout</a></li>
            </ul>
        </div>
    <% } else {%>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1 gap-x-2">
                <li><a href="/login" class='font-bold text-lg btn btn-primary text-white bg-green-500 hover:bg-green-600 border-none'>SIGN IN</a></li>
                <li><a href="/register" class='font-bold text-lg btn btn-primary text-white'>REGISTER</a></li>
            </ul>
        </div>
    <% } %>
  </div>